@charset "UTF-8";

@font-face {
	font-family: 'WAGURITTF';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@import
	url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

/*a태그 */
a {
	text-decoration-line: none;
	color: #b1a8a8;
}

body {
	margin: 0px;
	background-color: #FBFAF6;
	width: 100vw;	
  height: 100vh;
}

input:focus {
	outline: none;
}

[type="radio"] {
	appearance: none;
	width: 15px;
	height: 15px;
	box-shadow: 0 0 0 1px black;
	border: 4px solid white;
	border-radius: 50%;
	background-color: white;
}

[type="radio"]:checked {
	border: 4px solid white;
	background-color: black;
}

/*배경*/
.MypageReviewGoods-Container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfaf6;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  margin: 24px;
  box-sizing: border-box;

  height: auto;
}
  
/* 작성한 리뷰 */
.MypageReviewGoods .MypageReviewGoods-title-box {
  display: flex;

  margin-top: 30px;
  margin-bottom: 30px;
}

.MypageReviewGoods .MypageReviewGoods-Name {
	float: left;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.MypageReviewGoods .MypageReviewGoods-Name2 {
	float: left;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;

  padding-top: 5px;
}

/*1번 박스*/
.MypageReviewGoods .reviewbox01{
  border: 1px solid rgb(210, 206, 206);
  width: 754px;
  height: 452px;
  background-color: #fffefd;
  box-shadow: 5px 10px 10px 5px #0000000d;
  border-radius: 30px;

  margin-bottom: 60px;
}

/*2번 박스*/
.MypageReviewGoods .reviewbox02{
  border: 1px solid rgb(210, 206, 206);
  width: 754px;
  height: 452px;
  background-color: #fffefd;
  box-shadow: 5px 10px 10px 5px #0000000d;
  border-radius: 30px;

  margin-bottom: 60px;
}

/*3번 박스*/
.MypageReviewGoods .reviewbox03{
  border: 1px solid rgb(210, 206, 206);
  width: 754px;
  height: 452px;
  background-color: #fffefd;
  box-shadow: 5px 10px 10px 5px #0000000d;
  border-radius: 30px;

  margin-bottom: 60px;
}

/*4번 박스*/
.MypageReviewGoods .reviewbox04{
  border: 1px solid rgb(210, 206, 206);
  width: 754px;
  height: 452px;
  background-color: #fffefd;
  box-shadow: 5px 10px 10px 5px #0000000d;
  border-radius: 30px;
  
  margin-bottom: 60px;
}

/*5번 박스*/
.MypageReviewGoods .reviewbox05{
  border: 1px solid rgb(210, 206, 206);
  width: 754px;
  height: 452px;
  background-color: #fffefd;
  box-shadow: 5px 10px 10px 5px #0000000d;
  border-radius: 30px;

  margin-bottom: 60px;
}


.MypageReviewGoods .reviewbox-wrapper {
  margin: 40px;
}

.MypageReviewGoods .reviewbox-title {
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;

  margin-bottom: 10px;
}

.MypageReviewGoods .reviewbox-grade {
  float: left;
  font-weight: 500;
  color: #787b7d;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;

  padding-right: 15px;
}

.MypageReviewGoods .crown-rank {
  width: 250px;
}

.MypageReviewGoods .crown {
  float: left;
  width: 27px;
}

.MypageReviewGoods .review-box-mainpagebox {
  float: right;
  border: 1px solid #b1a8a8;
  width: 70px;
  height: auto;
  background-color: #f7f7f7;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.MypageReviewGoods .review-box-mainpage {
 font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.MypageReviewGoods .reviewbox-line {
  width: 658px;
  height: 1px;
  object-fit: cover;

  margin-top: 10px;
  margin-bottom: 10px;
}

.MypageReviewGoods .reviewbox-text {
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;

  margin-bottom: 20px;
}

.MypageReviewGoods .reviewbox-preview01 {
  border: 1px solid #b1a8a8;
  width: 202px;
  height: 147px;
  object-fit: cover;
  border-radius:20px;
  
}

.MypageReviewGoods .reviewbox-preview02 {
  border: 1px solid #b1a8a8;
  width: 202px;
  height: 147px;
  object-fit: cover;
  border-radius:20px;
  margin-left: 25px;
  margin-right: 25px;
}

.MypageReviewGoods .reviewbox-preview03 {
  border: 1px solid #b1a8a8;
  width: 202px;
  height: 147px;
  object-fit: cover;
  border-radius:20px;
}

.MypageReviewGoods .reviewbox-usermenu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b1a8a8;
  width: 202px;
  height: 35px;
  background-color: #f2f2f2;
  border-radius: 20px;

  margin-top: 15px;
}

.MypageReviewGoods .reviewbox-usermenu-title {
  text-align: center;
}