@charset "UTF-8";

@font-face {
	font-family: 'WAGURITTF';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@import
	url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

/*a태그 */
a {
	text-decoration-line: none;
	color: #b1a8a8;
}

body {
	margin: 0px;
	background-color: #FBFAF6;
	width: 100vw;
	height: 100vh;
}

input:focus {outline: none;}

/*background*/

.Signin-Container{
	display: flex;
    align-items: center;
    justify-content: center;
	background-color: #fbfaf6;
	width: calc(100% - 48px);
    height: auto;
    margin: 24px;
    box-sizing: border-box; 
	
}

.Signin{
	position: relative;
	height: auto;
	width: max-content;
}

/* 로고 */
.Signin .Signin-logo-main {
  display: flex;
  align-items: center; 
  justify-content: center;

  width: 754px;
  height: 150px;
  padding: 0px;
}

.Signin .Signin-image {
  object-fit: cover;

  width: 150px;
  height: 244px;
  padding: 0px;
}

.Signin .Signin-title {
  clear: both;
  font-weight: 500;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;

  width: 754px;
  height: auto;
  padding: 0px;
  margin-bottom: 20px;
}

/* 계정정보 입력 */
.Signin .input-account {
  width: 754px;
  height: auto;
}

.Signin .id-box {
  width: 754px;
  height: 55px;
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  background-color: #fffefe;
  border: 1px solid #b1a8a8;
  border-bottom: none;
}

.Signin .input-UserId {
  padding-left: 10px;
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.Signin .pwd-box {
  width: 754px;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: #fffefe;
  border: 1px solid #b1a8a8;
  border-bottom: none;
}

.Signin .input-UserPwd {
  padding-left: 10px;
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.Signin .nickname-box {
  display: flex;
  align-items: center;
  width: 754px;
  height: 55px;
  border-radius: 0px 0px 8px 8px;
  background-color: #fffefe;
  border: 1px solid #b1a8a8;
}

.Signin .input-nickName {
  padding-left: 10px;
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

/* 개인정보 입력 */
.Signin .input-Privacy {
  width: 754px;
  height: auto;

  margin-top: 30px;
}

.Signin .name-box {
  width: 754px;
  height: 55px;
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  background-color: #fffefe;
  border: 1px solid #b1a8a8;
  border-bottom: none;
}

.Signin .input-UserName {
  padding-left: 10px;
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.Signin .birth-box {
  width: 754px;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: #fffefe;
  border: 1px solid;
  border-color: #b1a8a8;
  border-bottom: none;
}

.Signin .input-birth {
  padding-left: 10px;
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.Signin .phone-box {
  width: 754px;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: #fffefe;
  border: 1px solid #b1a8a8;
  border-bottom: none;
}

.Signin .input-phone {
  padding-left: 10px;
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.Signin .address-box {
  width: 754px;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: #fffefe;
  border: 1px solid #b1a8a8;
  border-bottom: none;
}

.Signin .input-address {
  padding-left: 10px;
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.Signin .gender-box {
  display: flex;
  align-items: center;
  width: 754px;
  height: 55px;
  border-radius: 0px 0px 8px 8px;
  background-color: #fffefe;
  border: 1px solid;
  border-color: #b1a8a8;
}

.Signin .gender-male-submit {
  border-radius: 8px 0px 0px 8px;
  background-color: #fffefe;
  border: 1px solid #b1a8a8;
  border-right: none;

  margin: 10px;
  margin-right: 0px;
  width: 80px;
  height: 30px;
}

.Signin .gender-female-submit {
  border-radius: 0px 8px 8px 0px;
  background-color: #fffefe;
  border: 1px solid;
  border-color: #b1a8a8;

  margin: 10px;
  margin-left: 0px;
  width: 80px;
  height: 30px;
 
}


/*공지사항*/
.Signin .signin-notice{
  display: flex;
  align-items: center; 
  justify-content: center;

  margin-top: 30px;
}

.Signin .notice {
  font-weight: 300;
  color: #8b8484;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

/* 변경 */
.Signin .Signin-checkwrapper {
  display: flex;
  align-items: center; 
  justify-content: center;

  margin-top: 20px;
}

.Signin .Signin-checkbox {
  background-color: #164066;
  border-radius: 8px;
  display: flex;
  align-items: center; 
  justify-content: center;

  margin-top: 20px;
  width: 625px;
  height: 60px;
}

.Signin .Signin-checkbox-title {
  display: flex;
  align-items: center; 
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

  @media screen and (min-width:576px) {
    /* 스마트폰 가로 */
    }
    
    @media screen and (min-width:768px) {
    /* 타블렛 */
    }

    @media screen and (min-width:992px) {
    /* 데스크탑 */
    }
    
    @media screen and (min-width:1200px) {
    /* 큰 데스크탑 */
    }