@charset "UTF-8";

@font-face {
	font-family: 'WAGURITTF';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@import
	url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

/*a태그 */
a {
	text-decoration-line: none;
	color: #b1a8a8;
}

body {
	margin: 0px;
	background-color: #FBFAF6;
	width: 100vw;
	height: 100vh;
}

input:focus {
	outline: none;
}

/*배경*/
.Signout-Container{
  display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fbfaf6;
	width: calc(100% - 48px);
	height: auto;
	margin: 24px;
  padding-bottom: 200px;
	box-sizing: border-box;
}

.Signout {
  position: relative;
	height: auto;
	width: max-content;
}

/*회원탈퇴 로고*/
.Signout .signout-logo-main {
  display: flex;
	align-items: center;
	justify-content: center;
	width: 754px;
	height: 150px;
	padding: 0px;
}

.Signout .signout-image {
  object-fit: cover;
	width: 150px;
	height: 244px;
	padding: 0px;
}

.Signout .signout-title {
  clear: both;
	font-weight: 500;
	color: #000000;
	font-size: 35px;
	letter-spacing: 0;
	line-height: normal;
	text-align: center;
	width: 754px;
	height: auto;
	padding: 0px;
	margin-bottom: 20px;
}

/*회원탈퇴 박스*/
.Signout .input-signout {
  background-color: #fffefe;
	border-radius: 8px;
	border: 1px solid #b1a8a8;
	margin-top: 50px;
	width: 754px;
	height: auto;
}

.Signout .notice-wrapper {
  margin: 50px;
}

.Signout .notice-subject {
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;

  margin-bottom: 20px;

}

.Signout .notice-title {
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;

  margin-bottom: 20px;
}

.Signout .notice-textbox {
  font-weight: 500;
  color: transparent;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;

  margin-bottom: 80px;
}

.Signout .ntext1 {
  color: #e35e5e;
}

.Signout .ntext2 {
  color: #000000;
}

.Signout .warning-title {
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;

  margin-bottom: 30px;
}

.Signout .warning-text {
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;

  margin-bottom: 20px;
}

.Signout .warning-text2 {
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;

  margin-bottom: 80px;
}

.Signout .notice-agree {
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;

  margin-bottom: 20px;
}

.Signout .notice-agree {
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;

  margin-bottom: 40px;
}

/* 다음 */
.Signout .signout-checkbox-wrapper {
  display: flex;
  align-items: center;  
  justify-content: center;

  margin-bottom: 100px;
}

.Signout .signout-checkbox {
  background-color: #164066;
  border-radius: 8px;
  display: flex;
  align-items: center; 
  justify-content: center;

  margin-top: 20px;
  width: 625px;
  height: 50px;
}

.Signout .signout-checkbox-title {
  display: flex;
  align-items: center; 
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

  @media screen and (min-width:576px) {
    /* 스마트폰 가로 */
    }
    
    @media screen and (min-width:768px) {
    /* 타블렛 */
    }

    @media screen and (min-width:992px) {
    /* 데스크탑 */
    }
    
    @media screen and (min-width:1200px) {
    /* 큰 데스크탑 */
    }