@charset "UTF-8";

@font-face {
	font-family: 'WAGURITTF';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@import
	url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	background-color: #FBFAF6;
}

.Verification {
  position: relative;
  background-color: #fbfaf6;
  
  width: 754px;
  height: auto;
  margin: 0 auto;
  padding: 80px;
  padding-top: 40px;
  padding-bottom: 120px;
}

/*X버튼*/
.Verification .logo {
  position: relative;

  padding-left: 650px;
  height: 50px;
}

[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  box-shadow: 0 0 0 1px black;
  border: 4px solid white;
  border-radius: 50%;
  background-color: white;
}

[type="radio"]:checked {
  border: 4px solid white;
  background-color: black;
}

/*본인인증 로고*/
.Verification .Verification-main {
  display: flex;
  align-items: center; 
  justify-content: center;

  width: 754px;
  height: 150px;
  padding: 0px;
}

.Verification .Verification-image {
  object-fit: cover;

  width: 150px;
  height: 244px;
  padding: 0px;
}

.Verification .Verification-title {
  clear: both;
  font-weight: 500;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;

  width: 754px;
  height: auto;
  padding: 0px;
  margin-bottom: 20px;
}


/*회원가입 작성 페이지*/
.Verification .Verification-wrapper {
  border: 1px solid #b1a8a8;
  border-radius: 8px;

  width: 754px;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Verification .Verification-username-box {
  display: flex;
  align-items: center;
  background-color: #fffefe;
  border-bottom: 1px solid #b1a8a8;

  width: 754px;
  height: 55px;
}

.Verification .Verification-input-username {
  padding-left: 10px;
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.Verification .Verification-birth-box {
  width: 754px;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: #fffefe;
}

.Verification .Verification-birthYear-box {
  display: flex;
  align-items: center;
  background-color: #fffefe;
  border-right: 1px solid #b1a8a8;

  width: 272px;
  height: 55px;
}

.Verification .Verification-birthMonth-box {
  display: flex;
  align-items: center;
  background-color: #fffefe;
  border-right: 1px solid #b1a8a8;

  width: 309px;
  height: 55px;
}

.Verification .Verification-birthDay-box {
  display: flex;
  align-items: center;
  background-color: #fffefe;

  width: 309px;
  height: 55px;
}

.Verification .Verification-input-birthYear {
  padding-left: 10px;
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.Verification .Verification-input-birthMonth {
  padding-left: 10px;
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.Verification .Verification-input-birthDay {
  padding-left: 10px;
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.Verification .Verification-phone-box {
  width: 754px;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: #fffefe;

  border: 1px solid #b1a8a8;
  border-left: 0px;
}

.Verification .Verification-phoneAgency-box {
  display: flex;
  align-items: center;
  background-color: #fffefe;
  border-right: 1px solid #b1a8a8;

  width: 250px;
  height: 55px;
}

.Verification .Verification-phoneaddress-box {
  display: flex;
  align-items: center;
  background-color: #fffefe;

  width: 572px;
  height: 55px;
}

.Verification .Verification-input-phoneAgency {
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;

  padding-left: 10px;
}

.Verification .Verification-input-phoneaddress {
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;

  padding-left: 10px;
}

.Verification .Verification-input-phone {
  padding-left: 10px;
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}


.Verification .Verification-address-box {
  width: 754px;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: #fffefe;
  border-bottom: 1px solid #b1a8a8;
  
}

.Verification .Verification-input-address {
  padding-left: 10px;
  border: none;
  font-weight: 300;
  color: #b0a4a4;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.Verification .Verification-gender-box {
  display: flex;
  align-items: center;
  width: 754px;
  height: 55px;
  border-radius: 0px 0px 8px 8px;
  background-color: #fffefe;
}

.Verification .gender-male-submit {
  border-radius: 8px 0px 0px 8px;
  background-color: #fffefe;
  border: 1px solid #b1a8a8;
  border-right: none;

  margin: 10px;
  margin-right: 0px;
  width: 80px;
  height: 30px;
}

.Verification .gender-female-submit {
  border-radius: 0px 8px 8px 0px;
  background-color: #fffefe;
  border: 1px solid #b1a8a8;

  margin: 10px;
  margin-left: 0px;
  width: 80px;
  height: 30px;
 
}


/* 공지사항 */
.Verification .Verification-notice-titlebox {
  height: auto;
  display: flex;
  align-items: center; 
  justify-content: center;

  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 754px;
}

.Verification .Verification-notice-radio{
  float: left;
}

.Verification .Verification-notice-title {
  font-weight: 400;
  color: #8b8484;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;

  padding-left: 10px;
}

/* 회원가입 */
.Verification .Verification-checkWrapper {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.Verification .Verification-checkbox {
  background-color: #164066;
  border-radius: 8px;
  display: flex;
  align-items: center; 
  justify-content: center;

  margin-top: 20px;
  width: 625px;
  height: 60px;
}

.Verification .Verification-checkbox-title {
  display: flex;
  align-items: center; 
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

  @media screen and (min-width:576px) {
    /* 스마트폰 가로 */
    }
    
    @media screen and (min-width:768px) {
    /* 타블렛 */
    }

    @media screen and (min-width:992px) {
    /* 데스크탑 */
    }
    
    @media screen and (min-width:1200px) {
    /* 큰 데스크탑 */
    }