<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.always5.review.rest.model.vo.Restaurant" alias="Restaurant" />
		<typeAlias type="com.always5.review.rest.model.vo.Menu" alias="Menu" />
		<typeAlias type="com.always5.common.vo.Attachment" alias="Attachment" />
		<typeAlias type="com.always5.user.model.vo.User" alias="User" />
		<typeAlias type="com.always5.user.model.vo.Mypage" alias="Mypage" />
		<typeAlias type="com.always5.review.rest.model.vo.Restaurant" alias="Restaurant" />
		<typeAlias type="com.always5.review.rest.model.vo.MenuCategory" alias="MenuCategory" />
		<typeAlias type="com.always5.review.model.vo.Review" alias="Review" />
		<typeAlias type="com.always5.customerService.model.vo.CsType" alias="CsType" />
		<typeAlias type="com.always5.customerService.model.vo.CsKeyword" alias="CsKeyword" />
		<typeAlias type="com.always5.customerService.model.vo.CsDetail" alias="CsDetail" />		
	</typeAliases>
		
	<environments default="development">
		<environment id="development">
		
		<transactionManager type="JDBC"/>
	
		<dataSource type="POOLED">
	        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
	        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
	        <property name="username" value="SEMI"/>
	        <property name="password" value="SEMI"/>
      </dataSource>
		
		</environment>
	</environments>

	<mappers>
	   <mapper resource="/mappers/user-mapper.xml"/>	
	   <mapper resource="/mappers/cs-mapper.xml"/>
	   <!--<mapper resource="/mappers/rest-mapper.xml"/>  -->	
	   <mapper resource="/mappers/search-mapper.xml"/>	
	   <mapper resource="/mappers/mypage-mapper.xml"/>
	</mappers>
</configuration>