<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<!-- <typeAlias type="com.always5.User.model.vo.User" alias="User" /> -->
		<!-- 각자 별칭 생성 -->
	</typeAliases>
		
	<environments default="development">
		<environment id="development">
		
		<transactionManager type="JDBC"/>
	
		<dataSource type="POOLED">
	        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
	        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
	        <property name="username" value="mybatis"/>
	        <property name="password" value="mybatis"/>
      </dataSource>
		
		</environment>
	</environments>

	<mappers>
		<!-- <mapper resource="/mappers/user-mapper.xml"/> -->
		<!-- 각자 mapper 삽입1 -->
	</mappers>
</configuration>