@charset "UTF-8";    
    *{
        /* border: 1px solid black; */
    }
   
    main{
        padding-top: 70px;
    }

    /*무엇을 도와드릴까요?  */

   #help{
        height: 70px;
        padding-top: 20px;
        text-align: center;
   }

   #help>p{
        font-size: 30px;
        font-weight: 550;
   }
   
   /*고객센터 정보  */

   #section-1{
        line-height: 35px;
        padding-bottom: 200px;
        /* border: 1px solid black; */
   }

   #section-1 > #phone-number{
        padding-left: 10px;
   }

   #section-1 > #phone-number > img{
        width: 20px;
        height: 20px; 
    }

    #section-1 > #phone-number > p{
        display: inline;
        
   }
   
   #section-1 > #email{
        padding-left: 10px;
    }

   #section-1 > #email > img{
        width: 20px;
        height: 20px; 
    }

   #email > p{
        display: inline;
    }

   .p1{
        font-size: 25px;
        font-weight: 500;
        margin: 10px;
    }

    .p2{
        padding-left: 10px;
    }
    .p3{
        align-content: center;
    }

    #p3{
        height: 1000px;
    }

    /* 공지사항 */

    #section-2{
        height: 1000px;
        margin-top: 50px;
        background-color: #F6F6F6;
    }
    #section-2 > div > a{
        font-weight: 900;
    }

    #section-2 > div > .a2{
        margin-left: 20px;
    }
    
    #nav-2{
        background-color: #E5B19E;
        margin-top: 20px;
    }

    #navi-2{
        height: 60px;
        display: flex;
    }

    #navi-2>li{
        float: left;
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    #navi-2>li>a{
        font-size: 15px;
        font-weight: 900;
        display: block;
        /* vertical-align: middle; 블럭일 때는 안된다 */
        line-height: 35px;
    }

    #navi-2 > li > a:hover{
        color: rgb(124, 124, 124);
        scale: 1.08;
    } 

    .qa_box > div{
        background: beige;
        border: 1px solid lavenderblush;
        height: 60px;
        line-height: 30px;
        border-radius: 10px;
        margin-top: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .qa_box > p{
        display: none; 
        border: 1px solid whitesmoke;
        height: 100px;
        border-radius: 10px;
        padding: 10px;
        /* box-sizing: border-box; */
    }