@charset "UTF-8";    
    *{
        border: 1px solid black;
    }
   
    main{
        height: 4000px;
    }

   #help{
        height: 50px;
        text-align: center;
   }

   #help>p{
        margin-top: 10px;
        font-size: 30px;
        font-weight: 550;
   }
   
   #section-2 >div> article{
        display: block;
        text-align: start;
   }
   
   #phone-number{
        display: flex;
   }
   
   
        
   .article-p1{
        font-size: 25px;
        font-weight: 600;
        margin: 10px;
    }

    /* .article-p2{
        text-align: center;
   } */

    .article-p3{
        align-content: center;
    }

    #section-3{
        height: 1000px;
    }

