*{
    /* border: 1px solid #B1A8A8; */
}


#rest-regist-main{
    width: 1320px;
    height: 1100px;
    background-color: #F6F6F6;
    text-align: center;
    padding-top: 40px;
}

.main-form{
    display: flex;
    justify-content: center;
}

table{
    margin: 60px auto 20px auto;
    width: 1000px;
    font-size: 17px;
    text-align: center;
    border-collapse: collapse;
}

tr{
    height: 40px;
    border: 1px solid #B1A8A8;
    border-left: none;
    border-right: none;
}

table input, select, textarea, button{
    width: 700px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #B1A8A8;
    font-size: 15px;
    margin: 40px 0px;
    outline: none;
    padding: 0px 10px;
}

textarea{
    height: 200px;
    padding: 10px 10px;
    resize: none;
}

.black-button{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #B1A8A8;
    background-color: #313D40;
    color: white;
    font-size: 17px;
}