*{
    /* border: 1px solid #B1A8A8; */
}

.rest-menu-regist-main{
    width: 100%;
    height: auto;
    background-color: #F6F6F6;
    text-align: center;
}

.main-form{
    display: flex;
    justify-content: center;
}

.rest-menu-regist-main table{
    margin: 60px auto 20px auto;
    width: 1000px;
    font-size: 17px;
    text-align: center;
    border-collapse: collapse;
}

.rest-menu-regist-main tr{
    height: 40px;
    border: 1px solid #B1A8A8;
    border-left: none;
    border-right: none;
}

.rest-menu-regist-main input, button{
    width: 700px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #B1A8A8;
    background-color: white;
    font-size: 15px;
    margin: 40px 0px;
    outline: none;
    padding: 0px 10px;
}

#rest-name{
    background-color: #E7E5DF;
}

.black-button{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #B1A8A8;
    background-color: #313D40;
    color: white;
    font-size: 17px;
}