<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="csMapper">
	<resultMap id="csResultSet" type="customerService">
		<result column="CS_NO" property="csNo"/>
		<result column="CS_TITLE" property="csTitle"/>
		<result column="CS_CONTENT" property="csContent"/>
		<result column="CS_ENROLL_DATE" property="csEnrollDate"/>
		<result column="CS_MODIFY_DATE" property="csModifyDate"/>
		<result column="CS_STATUS" property="csStatus"/>
		<result column="USER_ID" property="csWriter"/>
	</resultMap>
	<select id="selectList" resultMap="csResultSet">
		SELECT CS_NO,
				CS_TITLE,
				USER_ID,
		FROM  CUSTOMER_SERVICE
		JOIN  ON (CS_WRITER = USER_NO)
		WHERE CS_STATUS = 'Y'
		ORDER BY CS_NO DESC
	</select>
</mapper>