<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="restMapper">
	<resultMap id="restResultSet" type="Restaurant">
		<result column="REST_NO" property="restNo"/>
		<result column="REST_NAME" property="restName"/>
		<result column="REST_ADDRESS" property="restAddress"/>
		<result column="REST_PHONE" property="restPhone"/>
		<result column="REST_INTRO" property="restIntro"/>
		<result column="REST_GRADE" property="restGrade"/>
		<result column="LIKE_NO" property="likeNo"/>
		<result column="REST_ENROLL_DATE" property="restEnrollDate"/>
		<result column="REST_MODIFY_DATE" property="restModifyDate"/>
		<result column="REST_OPER_TIME" property="restOperDate"/>
		<result column="REST_STATUS" property="restStatus"/>
		<result column="FOOD_CATEGORY_NAME" property="foodCategoryNo"/>
	</resultMap>
	
	<resultMap id="menuResultSet" type="Menu">
		<result column="MENU_NO" property="menuNo"/>
		<result column="MENU_NAME" property="menuName"/>
		<result column="MENU_PRICE" property="menuPrice"/>
		<result column="REST_NO" property="restNo"/>
		<result column="MENU_CATEGORY_NAME" property="menuCategoryNo"/>
	</resultMap>
	
	<resultMap id="dibsResultSet" type="Dibs">
		<result column="USER_NO" property="userNo"/>
		<result column="REST_NO" property="restNo"/>
	</resultMap>
	
	<resultMap id="reviewResultSet" type="Review">
		<result column="REVIEW_NO" property="reviewNo"/>
		<result column="REVIEW_RATING" property="reviewRating"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="REVIEW_ENROLL_DATE" property="reviewEnrollDate"/>
		<result column="REST_NO" property="restNo"/>
		<result column="NICKNAME" property="userNo"/>
	</resultMap>
	
	<resultMap id="attachmentResultSet" type="Attachment">
		<result column="IMG_LIST_NO" property="fileNo"/>
		<result column="IMG" property="changeName"/>
		<result column="IMG_URL" property="filePath"/>
		<result column="REVIEW_NO" property="reviewNo"/>
		<result column="REST_NO" property="restNo"/>
	</resultMap>
	
	<!-- <resultMap id="menuCategoryResultSet" type="MenuCategory">
		<result column="MENU_CATEGORY_NO" property="restNo"/>
		<result column="MENU_CATEGORY_NAME" property="restName"/>
	</resultMap> -->
	
	<select id="selectRest" resultMap="restResultSet">
		SELECT REST_NO,
			   REST_NAME,
			   REST_ADDRESS,
			   REST_PHONE,
			   REST_INTRO,
			   REST_GRADE,
			   LIKE_NO,
			   REST_ENROLL_DATE,
			   REST_MODIFY_DATE,
			   REST_OPER_TIME,
			   FOOD_CATEGORY_NAME
		FROM REST_INFO
		JOIN FOOD_CATEGORY USING (FOOD_CATEGORY_NO)
		WHERE REST_NO = #{restNo}
		AND REST_STATUS = 'Y'
	</select>
	
	<select id="selectRestAttachmentList" resultMap="attachmentResultSet">
		SELECT IMG_LIST_NO,
			   IMG,
			   IMG_URL
		FROM IMG_LIST
		WHERE REST_NO = #{restNo}
	</select>
	
	<select id="selectMenuCategoryList" resultMap="menuResultSet">
		SELECT DISTINCT MENU_CATEGORY_NAME
		FROM MENU
		JOIN MENU_CATEGORY USING (MENU_CATEGORY_NO)
		WHERE REST_NO = #{restNo}
		AND MENU_STATUS = 'Y'
	</select>
	
	<select id="checkDibs" resultMap="dibsResultSet">
		SELECT USER_NO,
			   REST_NO
		FROM DIBS
		WHERE USER_NO = #{userNo}
		AND REST_NO = #{restNo}
	</select>
	
	<select id="selectDibsCount" resultMap="restResultSet">
		SELECT LIKE_NO
		FROM REST_INFO
		WHERE REST_NO = #{restNo}
	</select>
	
	<insert id="insertDibs">
		INSERT INTO DIBS
		VALUES(#{userNo}, #{restNo})
	</insert>
	
	<delete id="deleteDibs">
		DELETE FROM DIBS
		 WHERE USER_NO = #{userNo}
		   AND REST_NO = #{restNo}
	</delete>
	
	<select id="selectReviewList" resultMap="reviewResultSet">
		SELECT REVIEW_NO,
			   REVIEW_RATING,
			   REVIEW_CONTENT,
			   TO_CHAR(REVIEW_ENROLL_DATE, 'YYYY-MM-DD') AS "REVIEW_ENROLL_DATE",
			   NICKNAME
		FROM REVIEW
		JOIN USER_INFO USING (USER_NO)
		WHERE REST_NO = #{restNo}
		AND REVIEW_STATUS = 'Y'
	</select>
	
	<select id="selectReviewAttachmentList" resultMap="attachmentResultSet">
		SELECT IMG_LIST_NO,
			   IMG,
			   IMG_URL
		FROM IMG_LIST
		WHERE REVIEW_NO = #{reviewNo}
	</select>
	
	<select id="selectRatingCount" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE REST_NO = #{restNo}
		AND REVIEW_STATUS = 'Y'
		<choose>
		<!-- number 형태라서 ratingCount가 맞는 게 없어서 AND 조건이 실행이 하나도 안 돼서 다 7개 뜬 것 -->
			<when test="ratingCount == 1">
				AND REVIEW_RATING = 1
			</when>
			<when test="ratingCount == 2">
				AND REVIEW_RATING = 2
			</when>
			<when test="ratingCount == 3">
				AND REVIEW_RATING = 3
			</when>
			<when test="ratingCount == 4">
				AND REVIEW_RATING = 4
			</when>
			<when test="ratingCount == 5">
				AND REVIEW_RATING = 5
			</when>
		</choose>
	</select>
	<select id="selectMenuList" resultMap="menuResultSet">
		SELECT MENU_NAME,
			   MENU_PRICE
		FROM MENU
		WHERE REST_NO = #{restNo}
	</select>
	

</mapper>