<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	<!-- <typeAliases>
		<typeAlias type="com.always5.review.rest.model.vo.Rest" alias="Rest" />
		<typeAlias type="com.always5.review.rest.model.vo.MenuCategory" alias="MenuCategory" />
		<typeAlias type="com.always5.review.rest.model.vo.Review" alias="Review" />
		<typeAlias type="com.always5.review.rest.model.vo.Menu" alias="Menu" />
	</typeAliases> -->
	<!-- <mappers>
		<mapper resource="/mappers/rest-mapper.xml"/>
	</mappers> -->
<mapper namespace="searchMapper">
	<resultMap id="restResultSet" type="Restaurant">
		<result column="REST_NO" property="restNo"/>
		<result column="REST_NAME" property="restName"/>
		<result column="REST_ADDRESS" property="restAddress"/>
		<result column="REST_PHONE" property="restPhone"/>
		<result column="REST_INTRO" property="restIntro"/>
		<result column="REST_GRADE" property="restGrade"/>
		<result column="LIKE_NO" property="likeNo"/>
		<result column="REST_ENROLL_DATE" property="restEnrollDate"/>
		<result column="REST_MODIFY_DATE" property="restModifyDate"/>
		<result column="REST_OPER_TIME" property="restOperTime"/>
		<result column="REST_STATUS" property="restStatus"/>
		<result column="FOOD_CATEGORY_NAME" property="foodCategoryNo"/>
	</resultMap>
	<select id="selectSearchRest" resultMap="restResultSet">
		SELECT REST_NAME,
			   REST_ADDRESS,
			   REST_INTRO
		FROM REST_INFO
	</select>

	<select id="searchListCount" resultType="_int">
 		SELECT COUNT(*)
 		  FROM REST_INFO
 		 WHERE REST_STATUS = 'Y'
	</select>	
	
</mapper>