<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 미구현 -->
<mapper namespace="userMapper">
	<resultMap id="userResultSet" type="User">
		<result column="USER_NO" property="userNo" />
		<result column="AUTHORITY" property="authority" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NAME" property="userName" />
		<result column="NICKNAME" property="nickName" />
		<result column="USER_BIRTH" property="userBirth" />
		<result column="USER_GENDER" property="userGender" />
		<result column="USER_PHONE" property="userPhone" />
		<result column="USER_EMAIL" property="userEmail" />
		<result column="USER_ADDRESS" property="userAddress" />
		<result column="USER_ENROLL_DATE" property="userEnrollDate" />
		<result column="USER_MODIFY_DATE" property="userModifyDate" />
		<result column="USER_STATUS" property="userStatus" />
		<result column="POINT" property="point" />
	</resultMap>

	<select id="loginUser" parameterType="User" resultMap="userResultSet">
		SELECT USER_NO,
				AUTHORITY,
				USER_ID,
				USER_PWD,
				USER_NAME,
				NICKNAME,
				USER_BIRTH,
				USER_GENDER,
				USER_PHONE,
				USER_EMAIL,
				USER_ADDRESS,
				USER_ENROLL_DATE,
				USER_MODIFY_DATE,
				USER_POINT
		FROM USER_INFO
		WHERE USER_ID = #{userId}
		AND USER_PWD = #{userPwd}
	</select>
	
	<insert id="insertUser" parameterType="User">
	<!-- authority를 n로 넘겨줌 -->
		INSERT 
		INTO USER_INFO
		(
		USER_NO,
		AUTHORITY,
		USER_ID,
		USER_PWD,
		USER_NAME,
		NICKNAME,
		USER_BIRTH,
		USER_GENDER,
		USER_PHONE,
		USER_ADDRESS
		)
		VALUES
		(
		SEQ_UNO.NEXTVAL,
		'N',
		#{userId},
		#{userPwd},
		#{userName},
		#{nickName},
		#{userBirth},
		#{userGender},
		#{userPhone},
		#{userAddress}
		)
	</insert>

	<update id="deleteUser" parameterType="User">
		UPDATE USER_INFO
		SET USER_STATUS = 'N'
		, USER_MODIFY_DATE = SYSDATE
		WHERE USER_ID = #{userId}
		AND USER_PWD = #{userPwd}
	</update>

	<update id="updateUserPwd" parameterType="User">
		UPDATE USER_INFO
		SET USER_PWD = #{userPwd}
		, USER_MODIFY_DATE = SYSDATE
		WHERE USER_ID = #{userId}
		AND USER_PWD = #{userPwd}
	</update>

	<update id="updateUserID" parameterType="User">
		UPDATE USER_INFO
		SET USER_ID = #{userId}
		, USER_MODIFY_DATE = SYSDATE
		WHERE USER_ID = #{userId}
		AND USER_PWD = #{userPwd}
	</update>
	
	<update id="updateUserNickName" parameterType="User">
		UPDATE USER_INFO
		SET NICKNAME = #{nickName}
		, USER_MODIFY_DATE = SYSDATE
		WHERE USER_PWD = #{userPwd}
		AND USER_ID = #{userId}
	</update>
</mapper>